firmware/.pio
firmware/.gitignore
*.vscode
*.DS_Store
*.xml
*.gbr
*.gbrjob
*.ps
*.drl
*.lck
board/*.pretty
board/*.kicad_pcb
board/*.kicad_prl
board/*.kicad_pro
board/*.bak
board/fp-info-cache
board/fp-lib-table
board/sym-lib-table
bubblebutbot-backups
board/bubblebutbot/gerber/.csv
board/bubblebutbot/*.json
website
