/* A bit of default grid w/ Skeleton Framework */
body,
html {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

.col-1 {
  width: 4.33%
}

.col-2 {
  width: 12.66%
}

.col-3 {
  width: 21%
}

.col-4 {
  width: 29.33%
}

.col-5 {
  width: 37.66%
}

.col-6 {
  width: 46%
}

.col-7 {
  width: 54.33%
}

.col-8 {
  width: 62.66%
}

.col-9 {
  width: 71%
}

.col-10 {
  width: 79.33%
}

.col-11 {
  width: 87.66%
}

.col-12 {
  width: 96%
}

.row {
  position: relative;
  width: 100%
}

.row [class^=col] {
  float: left;
  margin: .2rem 2%
}

a {
  color: #1eaedb
}

a:hover {
  color: #0fa0ce
}

.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  color: #333;
  border-color: #888;
  outline: 0
}

.button.button-primary,
button.button-primary,
input[type=button].button-primary,
input[type=reset].button-primary,
input[type=submit].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0
}

.button.button-primary:focus,
.button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type=button].button-primary:focus,
input[type=button].button-primary:hover,
input[type=reset].button-primary:focus,
input[type=reset].button-primary:hover,
input[type=submit].button-primary:focus,
input[type=submit].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both
}

* {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.375rem
}

h4 {
  font-size: 1.125rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: .875rem
}

.tiny-text {
  font-size: .6rem
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8
}

/* Prevent text selection */
html {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/* Other */
.color-border {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.description-box {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.distribute-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.config-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.config-box>div {
  padding: 5px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.classic-margin {
  margin: 0.2rem 2%;
  width: auto;
}

.range-slider {
  /* Nothing yet */
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.disable-double-tap-zoom {
  touch-action: manipulation;
}
